/* General styles for the navigation */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 0px;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hamburger menu icon */
.menu-icon {
    height: 0px;
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Add transition effect */
.nav-links {
    transition: all 0.3s ease-in-out;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
}

/* Search Box */
#search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#search-box {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Body & Background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Fallback */
    background-image: url('/images/worldmap.png'); /* Background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content Section */
#contentSection {
    background-color: rgba(194, 123, 194, 0.5);
}

h1 {
    text-align: center;
}

/* Mobile Styles for Navigation */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none; /* Initially hidden */
        background-color: #333;
        width: 100%;
        font-size: 18px; /* Larger font for better readability */
    }

    .nav-links.show {
        display: flex; /* Show when active */
    }

    .nav-links li {
        margin: 10px 0; /* Add vertical spacing */
    }

    .nav-links a {
        padding: 10px;
        font-size: 20px; /* Increase font size for mobile */
        text-align: center;
    }

    .menu-icon {
        display: block; /* Show hamburger menu icon */
    }

    nav {
        text-align: center;
    }
}

/* Responsive Background */
@media (min-width: 768px) {
    body {
        background-attachment: fixed;
        background-position: center center;
    }
}

@media (max-width: 767px) {
    body {
        background-attachment: scroll;
        background-position: center center;
        background-size: contain;
    }
}

/* Content Styling */
.content {
    text-align: center;
    color: #333;
    padding: 20px;
}
